In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
v1 = pd.read_csv(f'data/aave_usdc_interest_v1.csv') 
v2 = pd.read_csv(f'data/aave_usdc_interest_v2.csv')

v1 = v1[v1['asset'] != 'empty']
v2 = v2[v2['asset'] != 'empty']

#v2 = v2[v2['timestamp'] >= '2021-01-01']

v1['version'] = 'aave_v1'
v2['version'] = 'aave_v2'

df = pd.concat([v1, v2], ignore_index=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

#we align the methods to calculate the ma_30
df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

aave_usdc = df

In [4]:
v1 = pd.read_csv(f'data/aave_usdt_interest_v1.csv') 
v2 = pd.read_csv(f'data/aave_usdt_interest_v2.csv')

v1 = v1[v1['asset'] != 'empty']
v2 = v2[v2['asset'] != 'empty']

#v2 = v2[v2['timestamp'] >= '2021-01-01']

v1['version'] = 'aave_v1'
v2['version'] = 'aave_v2'

df = pd.concat([v1, v2], ignore_index=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

#we align the methods to calculate the ma_30
df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

aave_usdt = df

In [5]:
v1 = pd.read_csv(f'data/aave_dai_interest_v1.csv') 
v2 = pd.read_csv(f'data/aave_dai_interest_v2.csv')

v1 = v1[v1['asset'] != 'empty']
v2 = v2[v2['asset'] != 'empty']

#v2 = v2[v2['timestamp'] >= '2021-01-01']

v1['version'] = 'aave_v1'
v2['version'] = 'aave_v2'

df = pd.concat([v1, v2], ignore_index=True)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

#we align the methods to calculate the ma_30
df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

aave_dai = df

In [ ]:
df = pd.read_csv('data/compound_usdc_interest.csv')
df['version'] = 'compound'

df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

compound_usdc = df

In [ ]:
df = pd.read_csv('data/compound_usdt_interest.csv')
df['version'] = 'compound'

df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

compound_usdt = df

In [ ]:
df = pd.read_csv('data/compound_dai_interest.csv')
df['version'] = 'compound'

df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.strftime('%Y-%m-%d')
df.sort_values(by='timestamp', ascending=True, inplace=True, ignore_index=True)
df[df['date'].duplicated(keep=False)] #show duplicates

df['supply_ma30'] = df['supply'].rolling(30, min_periods=1).mean()
df['borrow_ma30'] = df['borrow'].rolling(30, min_periods=1).mean()

compound_dai = df

In [11]:
df_all = aave_usdc[['date', 'supply_ma30']] # slice aave
df_all.rename(columns={'supply_ma30': 'aave_usdc_supply_ma30'}, inplace=True)

df_all = df_all.merge(aave_usdt[['date', 'supply_ma30']], how='left', on='date') #merge compound
df_all.rename(columns={'supply_ma30': 'aave_usdt_supply_ma30'}, inplace=True)

df_all = df_all.merge(aave_dai[['date', 'supply_ma30']], how='left', on='date') #merge compound
df_all.rename(columns={'supply_ma30': 'aave_dai_supply_ma30'}, inplace=True)

#df_all = df_all.merge(compound_usdc[['date', 'supply_ma30']], how='left', on='date') #merge compound
#df_all.rename(columns={'supply_ma30': 'compound_usdc_supply_ma30'}, inplace=True)

#df_all = df_all.merge(compound_usdt[['date', 'supply_ma30']], how='left', on='date') #merge compound
#df_all.rename(columns={'supply_ma30': 'compound_usdt_supply_ma30'}, inplace=True)

#df_all = df_all.merge(compound_dai[['date', 'supply_ma30']], how='left', on='date') #merge compound
#df_all.rename(columns={'supply_ma30': 'compound_dai_supply_ma30'}, inplace=True)

/var/folders/1l/dlmzk3fn30g9wwk6y58j36c00000gn/T/ipykernel_71351/3421654311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all.rename(columns={'supply_ma30': 'aave_usdc_supply_ma30'}, inplace=True)

In [12]:
df_all = df_all.fillna(0)

In [13]:
df_all

,date,aave_usdc_supply_ma30,aave_usdt_supply_ma30,aave_dai_supply_ma30
0,2020-01-08,0.000389,0.000011,0.011112
1,2020-01-09,0.008746,0.002085,0.029319
2,2020-01-10,0.019933,0.005398,0.091202
3,2020-01-11,0.025596,0.010163,0.080267
4,2020-01-12,0.028996,0.013234,0.072520
...,...,...,...,...
1243,2022-11-08,0.009078,0.021150,0.007764
1244,2022-11-09,0.009255,0.024377,0.007928
1245,2022-11-11,0.009635,0.025240,0.008210
1246,2022-11-12,0.009969,0.026162,0.008521
1247,2022-11-13,0.010080,0.027127,0.008879

In [14]:
df_all['count'] = 0
for i in range(0, len(df_all)):
    count = 0
    if df_all[df_all.columns[1]][i] > 0: 
        count +=1
    if df_all[df_all.columns[2]][i] > 0: 
        count +=1
    if df_all[df_all.columns[3]][i] > 0: 
        count +=1
    #if df_all[df_all.columns[4]][i] > 0: 
    #    count +=1
    #if df_all[df_all.columns[5]][i] > 0: 
    #    count +=1
    #if df_all[df_all.columns[6]][i] > 0: 
    #    count +=1
    
    df_all['count'][i] = count

/var/folders/1l/dlmzk3fn30g9wwk6y58j36c00000gn/T/ipykernel_71351/568240732.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['count'][i] = count

In [ ]:
df_all['mean'] = (df_all['aave_usdc_supply_ma30'] + df_all['aave_usdt_supply_ma30'] + df_all['aave_dai_supply_ma30'] + df_all['compound_usdc_supply_ma30'] + df_all['compound_usdt_supply_ma30'] + df_all['compound_dai_supply_ma30'])/df_all['count']

In [15]:
df_all['mean'] = (df_all['aave_usdc_supply_ma30'] + df_all['aave_usdt_supply_ma30'] + df_all['aave_dai_supply_ma30'])/df_all['count']

In [16]:
df_all

,date,aave_usdc_supply_ma30,aave_usdt_supply_ma30,aave_dai_supply_ma30,count,mean
0,2020-01-08,0.000389,0.000011,0.011112,3,0.003837
1,2020-01-09,0.008746,0.002085,0.029319,3,0.013383
2,2020-01-10,0.019933,0.005398,0.091202,3,0.038844
3,2020-01-11,0.025596,0.010163,0.080267,3,0.038675
4,2020-01-12,0.028996,0.013234,0.072520,3,0.038250
...,...,...,...,...,...,...
1243,2022-11-08,0.009078,0.021150,0.007764,3,0.012664
1244,2022-11-09,0.009255,0.024377,0.007928,3,0.013853
1245,2022-11-11,0.009635,0.025240,0.008210,3,0.014361
1246,2022-11-12,0.009969,0.026162,0.008521,3,0.014884
1247,2022-11-13,0.010080,0.027127,0.008879,3,0.015362

In [ ]:
fig, ax = plt.subplots(figsize =(20,5))

ax.plot(df_all['date'], df_all['mean'], linewidth=1.25)

vals = ax.get_yticks()
ax.set_yticklabels(['{:,.0%}'.format(x) for x in vals])


ax.set_ylabel('interest rate')
ax.grid(axis='y', linestyle='--', linewidth=.5)

left, right = plt.xlim()
ax.set_xlim(left+1, right-1)

plt.show()

In [17]:
#store in csv
df_all.to_csv(f'data/usd_interest_combined.csv', index=False)